<div class="columns">
  <div class="column is-8 is-centered">

    <%= simple_form_for @information, html: { multipart: true } do |f| %>
      <%= f.error_notification %>

        <div class="columns">
          <div class="field column is-9">
            <div class="control">
              
              
              <%= f.input :title , required: true, input_html: { class: "input"}, wrapper: false, label_html: { class:"label"}, label: "Title(year,college,class)" %>
            </div>
          </div>
        </div>

         

        <div class="field">
          <div class="control">
              <%= f.input :description, required: true, input_html: { class: "input" }, wrapper: false, label_html: { class:"label" } %>
          </div>
        </div>

         
           
        <div class="columns">
          <div class="field column is-4">
            <div class="control">
              <label class="label">Condition</label>
              <div class="control has-icons-left">
                <span class="select">
                  <%= f.input_field :condition, collection: Information::CONDITION, prompt: "Select condition" %>
                </span>
                <span class="icon is-small is-left">
                  <i class="fa fa-paint-brush"></i>
                </span>
              </div>
            </div>
          </div>
        </div>

         <div class="field">
          <div class="control">
            <label class="label">Add images(パソコンだとcommandを押しながら選択すると複数指定できます）</label>
              <div class="file">
              <label class="file-label">
                <%#= f.input :image, as: :file, input_html: { class:"file-input instrument-image" }, label: false, wrapper: false, :multiple => true %>
                <%#= f.input :image, as: :file, input_html: { class:"file-input instrument-image" }, label: false, wrapper: false, :multiple => true %>
                  <%= f.file_field :image, multiple: true%>
                  <div id="result"></div>
              </label>
              </div>
            </div>
          </div>
          <output id="list"></output>
        <hr />

        <div class="field is-grouped">
          <div class="control">
            <%= f.button :submit, class: 'button is-warning' %>
            <%= link_to 'Cancel', information_index_path, class:'button is-light' %>
          </div>
        </div>

      <% end %>
  </div>
</div>
