<% content_for :header do %>
<section class="hero is-warning">
  <div class="hero-body">
    <div class="container">
      <h1 class="title">
        Browse the latest test information
      </h1>
      <p>
        
      </p>
      <p>
        <a href="https://youtu.be/DarjUgCCTKg">『使い方』（クリックしてください）</a>
      </p>
      <%= form_tag :search_information_index, method: :get, class: "search" do %>
        <%= text_field_tag "q", params[:q] %>
        <%= submit_tag "検索" %>
      <% end %>
    </div>
  </div>
</section>
<% end %>
<div class="instrument-index-grid pt4">
  <% if @informations.present? %>
    <% @informations.each do |information| %>
      <div class="instrument border-light">
        <div class="instrument-thumb">
        <% if information.image.present? %>
          <div class="feature-image">
            <%= link_to image_tag(information.image.first.url(:thumb)), information %>
          </div>
        <% end %>
        <% if information.condition? %>
          <div class="condition">
            <span class="tag is-dark"><%= information.condition %></span>
          </div>
        <% end %>
        </div>
      <div class="pa3">
        <h3 class="fw7 f4 title"><%= link_to information.title, information, class: "bg-gradient-dark" %></h3>
        <p class="has-text-gray fg pt1">Post by <%= information.user.name %></p>
        <% if information_author(information) %>
           <%= link_to 'Edit', edit_information_path(information), class: "button is-small" %>
           <%= link_to 'Delete', information, method: :delete, data: { confirm: "Are you sure ?" }, class: "button is-small" %>
        <% end %>
      </div>
    </div>
    <% end %>
  <% end %>
</div>
