<% content_for :body_class, 'bg-light' %>

<section class="section instrument-show">
  <div class="columns">
    <div class="column is-8">
      <h1 class="title is-2"><%= @information.title %></h1>

      <ul class="pv1">
        <% if @information.condition? %>
        <li class="inline-block pr3"><%= @information.condition %></li>
        <% end %>
      </ul>

       
        <% if @information.image.present? %>
          <div class="feature-image">
            <% @information.image.each do |image| %>
              <%= image_tag(image.url) %>
            <% end %>
          </div>
        <% end %>
      

      <div class="content pa4 mt3 bg-white border-radius-3">

      <h3 class="subtitle is-4">Description</h3>
      <%= @information.description %>


      <h3 class="subtitle is-4 pt5">Product Specs</h3>

      <table class="table is-narrow">
        <% if @information.condition %>
        <tr>
          <td class="has-text-weight-bold">Condition:</td>
          <td><%= @information.condition %></td>
        </tr>
        <% end %>

      </table>
    </div>
    </div>
    <div class="column is-3 is-offset-1">
      <div class="bg-white pa4 border-radius-3">
        <p class="has-text-centered mb4">Post by <%= @information.user.name %></p>
        <%= button_to 'Add to cart', line_items_path(information_id: @information), class: 'button is-warning add-to-cart' %>
      </div>
      
      <div class="reviews">
        <h1>Send thanks</h1>
        <%= render @information.reviews %>
        <div>
          <%= link_to "Say thank you", new_information_review_path(@information), class: "btn-custom" %>
        </div>
      </div>
    </div>
  </div>

  <% if information_author(@information) %>
    <%= link_to 'Edit', edit_information_path(@information), class: 'button' %>
  <% end %>
</section>