<div class="columns align-items-center">
  <div class="column is-1">
    <%= line_item.quantity %>
  </div>
  
  <div class="column is-2">
     <figure class="is-128x128 image">
      <%= link_to image_tag(line_item.information.image.first.url(:thumb)), line_item.information %>
      </figure>
  </div>
  <div class="column is-9">
    <strong><%= link_to line_item.information.title, line_item.information %></strong>
    <div class="columns align-items-center">
      <div class="content column is-9">
        <%= truncate(line_item.information.description, length: 140) %>
      </div>
      
      
    </div>
  </div>
</div>

<div class="has-text-right">
  <%= link_to 'Remove Item', line_item, method: :delete, data: { confirm:" Are you sure? "}, class: "button is-small mb-4" %>
</div>

<hr/ >